<ng-template #divLoading>
  <div class="main-spinner">
    <div class="container-spinner">
      <mat-spinner></mat-spinner>
    </div>
  </div>
</ng-template>

<div *ngIf="hero; else divLoading" class="grid justify-content-center align-content-center mt-2 md:mt-8 p-2">
  <mat-card class="col-12 md:col-5 mb-2 md:mb-0 md:mr-2 h-full">
    <mat-card-header class="justify-content-center text-center">
      <mat-card-title>{{ hero.alter_ego }}</mat-card-title>
      <mat-card-title>{{ hero.superhero }}</mat-card-title>
    </mat-card-header>

    <img
      class="col-6 sm:col-4 sm:w-5 md:w-5 align-self-center"
      [src]="hero | image"
      [alt]="hero.superhero"
      mat-card-image
    />
  </mat-card>

  <mat-card class="col-12 md:col-6 justify-content-center">
    <mat-card-content class="justify-content-center flex flex-column">
      <mat-list class="text-center">
        <mat-list-item>{{ hero.first_appearance }}</mat-list-item>
        <mat-list-item>
          <p class="hero-characters">
            {{ hero.characters }}
          </p>
        </mat-list-item>
        <mat-list-item>{{ hero.publisher }}</mat-list-item>
        <mat-list-item>{{ hero.alter_ego }}</mat-list-item>
      </mat-list>

      <button mat-button color="warn" (click)="goBack()">Regresar</button>
    </mat-card-content>
  </mat-card>
</div>
