.main-spinner {
    height: calc(100vh - 84px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-spinner {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 280px;
}

.mat-mdc-list-item:not(.mat-mdc-list-item-interactive) {
    height: max-content;
}

.hero-characters {
    margin: 10px 0;
    white-space: pre-line;
}