<div fxLayout="column" class="main-spinner">
  <div fxLayout="row" *ngIf="!heroe; else divHeroe">
    <div fxFlex="100" class="container-spinner">
      <mat-spinner></mat-spinner>
    </div>
  </div>
</div>

<ng-template #divHeroe>
  <div class="main-heroes" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center center" fxLayoutGap="30px">
    <div class="container-heroe" fxFlex="100" fxFlex.lg="30"  fxLayout="column" fxLayout.xs="column" fxLayout.sm="column">
      <div>
        <h1 class="title">
          {{ heroe.superhero }} <small>{{ heroe.alter_ego }}</small>
        </h1>
      </div>
      <div fxFlex="100" fxLayoutAlign="center">
        <br />
        <mat-divider></mat-divider>
        <img [src]="heroe | image" [alt]="heroe.superhero" />
      </div>
    </div>

    <div class="container-description" fxLayout="column" fxFlex="100" fxFlex.lg="70">
      <h1 class="title title-publisher">{{ heroe.publisher }}</h1>
      <mat-divider></mat-divider>
      <mat-list fxLayoutAlign.lg="start start">
        <mat-list-item class="first_appearance">
          <P>
            {{ heroe.first_appearance }}
          </P>
        </mat-list-item>
        <mat-list-item>
          <p>
            {{ heroe.characters }}
          </p>
        </mat-list-item>
        <mat-list-item>
          <p>
            {{ heroe.publisher }}
          </p>
        </mat-list-item>
        <mat-list-item>
          <p>
            {{ heroe.alter_ego }}
          </p>
        </mat-list-item>
      </mat-list>

      <br />
      <button class="back" mat-button color="warn" (click)="goBack()">Regresar</button>
    </div>
  </div>
</ng-template>
